In [1]:
import pandas as pd
import numpy as np

# How to find highly correlated columns

In [4]:
df = pd.DataFrame(np.random.random((5, 5)))

In [5]:
df

          0         1         2         3         4
0  0.098214  0.944112  0.213740  0.046533  0.189840
1  0.755694  0.193035  0.194426  0.142954  0.191947
2  0.698217  0.677693  0.372693  0.863811  0.410988
3  0.950882  0.220831  0.459755  0.417284  0.291601
4  0.924205  0.905573  0.282161  0.306626  0.513186

In [6]:
df.corr()

          0         1         2         3         4
0  1.000000 -0.513316  0.534875  0.404077  0.549355
1 -0.513316  1.000000 -0.289754 -0.040469  0.410742
2  0.534875 -0.289754  1.000000  0.682637  0.371867
3  0.404077 -0.040469  0.682637  1.000000  0.570124
4  0.549355  0.410742  0.371867  0.570124  1.000000

In [10]:
corr_series = df.corr().stack()

In [12]:
import math

In [14]:
corr_series[(corr_series.map(math.fabs) >= 0.5) & (corr_series != 1.0)]

0  1   -0.513316
   2    0.534875
   4    0.549355
1  0   -0.513316
2  0    0.534875
   3    0.682637
3  2    0.682637
   4    0.570124
4  0    0.549355
   3    0.570124
dtype: float64